.badge-lotto {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 9px;
    margin: 2px;
}
.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-top: 0px; 
}
  
.react-bootstrap-table-pagination-list-hidden {
    display: none; 
}

@media print {
    body {
        -webkit-print-color-adjust: exact; 
    }
}